<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="./../static/css/bootstrap.min.css"/>
        <style>
            div button{
                margin: 5px;
            }
        </style>
    
    </head>
    <body>
        {{g}}
        {% if g %}
        <div style="margin:5px;">
            <button onclick="generateToken()">Generate Token</button>
            <div id="token-box"></div>
            <button onclick="deployContract()">Deploy Contract</button>
            <div id="deploy-box">
                <label>Conract Name</label>
                <input id="contract_name" style="width:500px" type='text'>
                <br>
                <label>Enter Cadidate Names</label>
                <br>
                <div id="candidates">
                    <input class="candidate_list" style="width: 500px;">
                </div>
                <br><button onclick="addMoreCandidate()">Add More Candidate</button>
                <br><button onclick="deployContractDone()">Done</button>
            </div>
            <br>
            <button>Show History</button>
        </div>
        {% endif %}

        {% if n %}
            <div>
                Node Register
            </div>
        {% endif %}

        {% if r %}
        <div>
            Normal
        </div>
        {% endif  %}

        <div>
            {% for cont in contract  %}
            <div>
                <h1>{{cont.name}}</h1>
                <div> {{cont.contract_id }}  {{cont.status}}</div>
                <div  style="display:none;">{{cont.status}}</div>
            </div>
            {% endfor %}
        </div>

        <script>

            function addMoreCandidate()
            {
                
                
                var ele = document.createElement('input');
                ele.classList.add("candidate_list");
                ele.style.width = "500px";
                document.querySelector("#candidates").appendChild(ele);

            }

            function copy()
            {
                this.select();
                document.execCommand("copy");
                console.log("copied");
            }

            function generateToken()
            {
                let http = new XMLHttpRequest();
            console.log("generat");
            http.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                var data = JSON.parse(this.responseText);
                console.log(data);
                var tockentBox = document.querySelector("#token-box");
                tockentBox.innerHTML += "<input style='width:500px;' onclick='copy(this)' disabled value='"+data.key+"'></input><br>"

                };
            }

           
            http.open('POST',"/key_api/");
            http.setRequestHeader("Content-Type", 'application/json');
            http.send(JSON.stringify({"key": "add_user"}));
            }
            function deployContract()
            {
                
            }

            function deployContractDone()
            {
                var contractName = document.querySelector("#contract_name").value;
                var candidateChild = document.querySelector("#candidates").children;
                var candidateList = [];
                for(i = 0; i<candidateChild.length; i++)
                {
                    candidateList.push(candidateChild[i].value);
                }

                let http = new XMLHttpRequest();
                http.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    var data = JSON.parse(this.responseText);

                    };
                }

                
                http.open('POST',"/operation-api/");
                http.setRequestHeader("Content-Type", 'application/json');
                
                let req_data = {
                    "fun": "deploy_contract",
                    "name": contractName,
                    "contract_list": candidateList
                }
                http.send(JSON.stringify(req_data));
            }



            // let http = new XMLHttpRequest();
                
            //     http.onreadystatechange = function() {
            //         if (this.readyState == 4 && this.status == 200) {
            //         console.log(this.responseText);
            //         var data = JSON.parse(this.responseText);

            //         };
            //     }

                
            //     http.open('POST',"/api/");
            //     http.setRequestHeader("Content-Type", 'application/json');
            //     http.send();
        </script>
        
    </body>
</html>